html {
    font-size: 62.5%;
}

body {
    margin: 5;
    font-family: 'Poppins';
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/*navigation*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
   margin: 4em; 
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 6em;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}
nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

nav ul li a:before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid rgb(205, 205, 205);
    bottom: -6px;
    transition: width .3s;
}

/*main part*/

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
}

.left {
    width: 45%; 
}

.right {
    flex-grow: 1;
}

h1 {
    font-size:5.5rem ;
    font-family: 'Playfair Display';
    font-weight: normal;
    margin: 0;
}

.phantom {
    font-size: 2em;
}

.buttons {
    margin: 5em 0;
}

.buttons, .secondary {
    display: flex;
    gap: 2em;
}

.primary {
    background-color:#F6CFB2A3;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 1.8em;
    padding: 1em 2em;
}

.secondary {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em 0;
    align-items:center;
}

.secondary svg {
    width: 20px;
    transition: transform .5s;
}

.announcement {
    display: flex;
    gap: 5em;
    padding: 4em;
    border: 1px solid black;
    border-radius: 1em;
}

p.years {
    font-size: 4.3rem;
    margin: 0;
    font-weight: 500;
}

p.details {
    font-size: 1.7rem;
    margin: 0;
}

/*gallery*/

.right {
    display: grid;
    gap: 2.2em;
    grid-template-columns: repeat(2,auto);
    grid-template-areas: 
    "left right"
    "left bottom";
}

.card {
    border-radius: 1em;
    padding: 1.4em;
    display: flex;
    align-items: end;
    background-size: 135%;
    transition: background-size 800ms;
}

.card1 {
    grid-area: left;
    background-image: url('john-fornander-w6ez7LKnDGo-unsplash.jpg');
}
.card2 {
    background-size: 170%;
    background-position-x: center; background-position-y:center ;
    background-image: url('mky-moody-AUF6Gl4wwzA-unsplash.jpg');
}
.card3 {
    background-size: 170%;
    background-position-x: center; background-position-y:center ;
    background-image: url('wang-xi-RTrZvGlvlQc-unsplash.jpg');
}

.card-details {
    background: white;
    border-radius: .6em;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 800ms;
}

.card-details a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}
.card-details p {
    font-size: 1.3rem;
    margin: 0;
}
p.price {
    font-size: 1.4rem;
}

/*microinteractions✌️*/

nav ul li a:hover:before{
    width: 35%;
}

.primary:hover {
    background: #F3BB93;
    transition: 0.7s;
}

.secondary:hover svg {
    transform: translateX(10px);
}

.secondary:hover {
    text-decoration: underline;
}

.card1:hover {
    background-size: 150%;
}
.card2:hover {
    background-size: 185%;
}
.card3:hover {
    background-size: 185%;
}

.card:hover .card-details {
    transform: translateY(-20px);
}

.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: revealhehheh 1s ease-in forwards;
    transform-origin: bottom; 
}

@keyframes revealhehheh {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

main {
    animation: growin 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}
@keyframes growin {
    to {
        transform: scale(1);
    }
}

@media (max-width: 600px) {

    .wrapper {
        width: 100%;
    }
}
